:root {
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff91;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    /* O shorthand font segue a ordem:
    1. font-style (opcional)
    2. font-variant (opcional)
    3. font-weight (opcional)
    4. font-size (obrigatório)
    5. line-height (opcional, quando presente deve usar a sintaxe font-size/line-height)
    6. font-family (obrigatório) */

    --heading1: bold 32px/125% "Poppins", sans-serif;
    --paragraph-md: normal 14px/170% "Poppins", sans-serif;
    --paragraph-sm: normal 12px/170% "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    font: var(--paragraph-md);
    color: var(--text-color-secondary);
    background-color: var(--surface-color);
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.logo {
    margin-right: auto;
}

.header-p:hover{
    color: var(--brand-color);
    text-decoration: underline;
    cursor: pointer;
}

.user-icon {
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid var(--skeleton-color);
}

.profile-info {
    background-color: var(--surface-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    padding: 32px;
    border-radius: 0 0 50px 50px;
}

.profile-pic {
    height: 176px;
    width: 172px;
    border-radius: 100px;
    object-fit: cover;
    border: 1px solid var(--skeleton-color);
}

.profile-info {
    display: flex;
}

.user-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 500px;
    margin-right: auto;
}

.user-bio {
    font: var(--paragraph-md);
    color: var(--text-color-secondary);
}

.user-name {
    font: var(--heading1);
    color: var(--text-color-primary);
}

.profile-status {
    flex-basis: 200px;
}

.item {
    display: flex;
    gap: 8px;
    font: var(--paragraph-md);
    color: var(--text-color-secondary);
    margin-bottom: 16px;
}

.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    padding: 20px 32px;
}

.feed-photo {
    height: 342px;
    width: 342px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid var(--skeleton-color);
}

footer {
    display: flex;
    font: var(--paragraph-md);
    color: var(--text-color-secondary);
    padding: 10px 32px; 
    gap: 16px;
}

.trademark {
    margin-right: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: none;
}

.line {
    width: 25px;
    border: 2px solid var(--brand-color);
    border-radius: 2px;
    display: none;
}

@media (max-width: 600px) {
    .profile-info  {
        flex-direction: column;
        align-self: center;
        justify-content: center;
        text-align: center;
    }

    .user-data {
        margin: 0;
        flex-basis: 50px;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    .item img {
        height: 24px;
    }

    .feed {
        flex-grow: 1;
    }

    .feed img {
        flex-grow: 1;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .trademark {
        margin: 0;
    }

    .search-icon, .header-p {
        display: none;
    }

    .menu {
        display: flex;
    }

    .line {
        display: block;
    }
}
